fastapi
uvicorn
gunicorn
rec-system-trb==0.0.4
mysql-connector-python
requests
pandas
sklearn
implicit
scipy
tqdm
numpy
matplotlib
seaborn
mlxtend
plotly==5.9.0
black
tox
requests-cache
Flask
pytest
